name: BE ACR Pipeline

on:
  push:
    branches: ['master', 'dev']
    paths: ['BE/**', '.github/workflows/be.yml']
    tags: ['v*']

jobs:
  run-be-pipeline:
    uses: ./.github/workflows/reusable-build-deploy.yml
    secrets: inherit
    with:
      service_path: 'BE'
      image_name: 'Kolsherut-BE'
      # UPDATE THIS: The name of the container INSIDE your deployment YAML
      # Check your k8s yaml under spec -> containers -> name
      container_name: 'kolsherut-backend-container'

      # Your Deployment names
      deployment_dev: 'kolsherut-be-dev'
      deployment_stage: 'kolsherut-be-stage'
      deployment_prod: 'kolsherut-be-prod'
