name: BE ACR Pipeline

on:
  push:
    branches: ['master', 'dev']
    paths: ['be/**', '.github/workflows/be-ACR.yml']
    tags: ['v*']

jobs:
  run-be-pipeline:
    uses: ./.github/workflows/reusable-build-deploy.yml
    secrets: inherit
    with:
      service_path: 'be'
      image_name: 'kolsherut-be'
      container_name: 'kolsherut-backend-container'

      deployment_dev: 'kolsherut-be-dev'
      deployment_stage: 'kolsherut-be-stage'
      deployment_prod: 'kolsherut-be-prod'
