name: BE ACR Pipeline

on:
  push:
    branches: ['main', 'dev', 'production']
    paths: ['be/**', '.github/workflows/be-ACR.yml']
    tags: ['v*']

concurrency:
  group: be-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-be-pipeline:
    uses: ./.github/workflows/reusable-build-deploy.yml
    secrets: inherit
    with:
      service_path: 'be'
      image_name: 'Kolsherut-BE'
      container_name: 'kolsherut-backend-container'

      deployment_dev: 'kolsherut-be'
      deployment_stage: 'kolsherut-be'
      deployment_prod: 'kolsherut-be'
