name: ETL ACR Pipeline

on:
  push:
    branches: ['main', 'dev', 'production']
    paths: [ 'ETL/**', '.github/workflows/etl-ACR.yml' ]
    tags: ['v*']

concurrency:
  group: etl-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-etl-pipeline:
    uses: ./.github/workflows/reusable-build-deploy.yml
    secrets: inherit
    with:
      service_path: 'ETL'
      image_name: 'kolsherut-etl'
      container_name: 'etl'
      deployment_dev: 'kolsherut-etl'
      deployment_stage: 'kolsherut-etl'
      deployment_prod: 'kolsherut-etl'
